{% extends 'base.html.twig' %}

{% block homeEnt %}active{% endblock %}

{% block body %}
<br/>
<div class="mx-auto" style="width: 500px;">
    <h3>Liste des stages par entreprises</h3>
</div>  
{% endblock %}

{% block stages %}
<div class="row py-5">
    <div class="mx-auto" style="width: 500px;">
        <ul class="list-group list-group-flush">
           {% for entreprise in entreprises %}
              <li class="list-group-item"><a href="{{path('entreprise',{id:entreprise.id})}}">{{ entreprise.nom }}</a></li>          
            {% endfor %}
        </ul>
    </div>
    <a  href="{{path('ajouterEntreprise')}}"><button type="button" class="btn btn-light">Ajouter une entreprise</button></a>
</div>
{% endblock %}