{% extends 'base.html.twig' %}

{% block body %}
<h1>Bonjour la vie</h1>

<p>Cette page d'accueil est en pur html</p>

<h3><a href="{{path('formations')}}">Formations</a></h3>
<h3><a href="{{path('entreprises')}}">Entreprises</a></h3>
<h3><a href="{{path('stages',{id:5})}}">Stages 1</a></h3>
{% endblock %}